// About page (/about)

#blogPost {
	.hero {
		width: 100%;
	}

	.tag {
		color: #F5CB5C;
		margin: 0 0.3em;
	}

	p {
		margin: 2em 0;
	}

	li {
		p {
	  		margin: auto;
		}
	}

	img.inpostImage{
		width:40%;
		margin-left: auto;
		margin-right: auto;
		display: block;

		@media (max-width: 700px) {
			width: 70%;
		}
	}

	h5 {
		margin-bottom: 0.3em;
	}
}
  