<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/WebPage" lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Elias Homsi </title>
    <meta name="description" content="Elias Homsi's personal website. Facts, thoughts, bad ideas, and everything else.">

    <link rel="icon" type="image/png" sizes="512x512" href="/images/favicon/ladybug-512-119.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/images/favicon/ladybug-64-119.png">
    <link rel="icon" type="image/png" sizes="57x57" href="/images/favicon/ladybug-57-119.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/images/favicon/ladybug-48-119.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/ladybug-32-119.png">
    <link rel="icon" type="image/png" sizes="24x24" href="/images/favicon/ladybug-24-119.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/ladybug-16-119.png">

    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/favicon/ladybug-152-119.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/favicon/ladybug-144-119.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/favicon/ladybug-120-119.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/favicon/ladybug-114-119.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/favicon/ladybug-72-119.png">
    <link rel="apple-touch-icon-precomposed" href="/images/favicon/ladybug-57-119.png">
    <link rel="icon" href="/images/favicon/ladybug-32-119.png" sizes="32x32">

    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/images/favicon/ladybug-144-119.png">

    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="index.html">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,800,900" rel="stylesheet" async>
</head>

<body>
    <div id="root"></div>
</body>

<!-- Cookie Banner-->
<script type="text/javascript" src="https://cookiegenerator.eu/cookie.js?position=&amp;skin=cookielaw1&amp;box_radius=0&amp;animation=shake&amp;delay=3&amp;link_color=f5cb5c&amp;accept_radius=0&amp;msg=We%20use%20cookies%20to%20understand%20how%20you%20use%20our%20site%20and%20to%20improve%20your%20experience.%20By%20continuing%20to%20use%20our%20site%2C%20you%20accept%20our%20%5Burl%3Dhttps%3A%2F%2Fwww.iubenda.com%2Fprivacy-policy%2F12910968%5DPrivacy%20Policy%5B%2Furl%5D%20and%20%5Burl%3Dhttps%3A%2F%2Fwww.websitepolicies.com%2Fpolicies%2Fview%2FdMUREkTi%5DCookie%20Policy%5B%2Furl%5D."></script>

</html>